.card {
  width: 200px;
  height: auto;
  min-height: 300px;
  padding: 5px;
  margin: 10px;
  background-color: rgb(241, 227, 227);
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  /* padding: 5px; */
  width: 150px;
  height: 150px;
}
